# Backend
backend/build/
backend/.gradle/
backend/uploads/
backend/out/

# Frontend
frontend/node_modules/
frontend/dist/

# Docker
postgres_data/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Logs
*.log
