version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: devcareer-postgres
    environment:
      POSTGRES_DB: devcareer_compass
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - devcareer-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin"]
      interval: 10s
      timeout: 5s
      retries: 5
    
  redis:
    image: redis:7-alpine
    container_name: devcareer-redis
    ports:
      - "6379:6379"
    networks:
         - devcareer-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:

networks:
  devcareer-network:
    driver: bridge